a[target="_blank"] {
    position: relative;
}
a[target="_blank"]:after {
    position: absolute;
    top: 3px;
    right: -15px;
    content: "\1f855";
    font-size: 13px;
    color: var(--md-accent-fg-color);
    line-height: 3px;
    height: 5px;
    width: 5px;
    border-right: 2px solid var(--md-default-bg-color);
    border-top: 2px solid var(--md-default-bg-color);
}
a[target="_blank"]:before {
    position: absolute;
    top: 4px;
    right: -15px;
    content: " ";
    border: 1px solid var(--md-accent-fg-color);
    width: 8px;
    height: 8px;
}